*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
    font-family: "DM Sans";
}
#navbar{
    align-items: center;
    color: rgb(105, 105, 105);
    display: flex;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 20px;
}
#navleft{
    align-items: center;
    color: rgb(105, 105, 105);
    display: flex;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    column-gap: 30px;
}
#navleft-right,#navright{
    color: rgb(105, 105, 105);
    display: flex;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    column-gap: 30px;
}
/* Buttons */
#navright-left, #browse-menu>#button-bar>#button-2, #about-us #right #button-bar #button-1, #browse-our-menu #continer #button-bar #button-2, .burger-losangeles .left .button-bar .button-1, .clients .button-bar .button-2{
    align-items: flex-start;
    appearance: auto;
    border: 0.666667px solid rgb(204,204,204);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source:none ;
    border-image-width: 1;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 500;
    text-align: center;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    user-select: none;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    border-radius: 50px;
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    padding: 10px 25px 10px 25px;

}
#navleft-left>img,#navleft-right>div{
    cursor: pointer;
}

#navright-right, #browse-menu>#button-bar>#button-1, #about-us #right #button-bar #button-2, #browse-our-menu #continer #button-bar #button-1 , .burger-losangeles .left .button-bar .button-2, .clients .button-bar .button-1{
    color: #fff;
    background-color: #FF7629;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid white;
}
/* Buttons end */
#burgers{
    display: flex;
}
#burgers-left{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 100px 0px 0px 150px;
    row-gap: 20px;
    width: 793.333px;
}
#burgers-heading{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 500;
}
#burgers-heading>h6{
    color:rgb(255,118, 41);
    display: block;
    font-size: 50px;
    font-weight: 700;
}
#burgers-heading>h5{
    display: block;
    font-size: 50px;
    font-weight: 700;
}
#burgers-text{
    color: rgb(117,117, 117);
    display: block;
    font-size: 18px;
    font-weight: 500;
    width: 555.33px;
    padding-right: 0px;
}
#burgers-buttons-bar{
    display: flex;
    font-size: 40px;
    font-weight: 500;
}
#burgers-buttons{
    column-gap: 30px;
    display: flex;
    font-size: 40px;
    font-weight: 500;
}
#burgers-buttons{
    column-gap: 30px;
    display: flex;
    font-size: 40px;
    font-weight: 500;
}
#burgers-buttons>#button1{
    background-color: rgb(255,118, 41);
    border: none;
    cursor: pointer;
    color: white;
    padding: 11px 26px 11px 26px;
    border-radius: 50px;

}
#burgers-buttons>#button2{
    background-color: white;
    border-bottom-color: rgb(204,204,204);
    border-bottom-style: solid;
    border-bottom-width: 0.666667px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source:none ;
    border-image-width: 1;
    border-left-color:rgb(204,204,204) ;
    border-right-color:rgb(204,204,204) ;
    border-top-color:rgb(204,204,204) ;
    border-left-style:solid ;
    border-right-style:solid; 
    border-top-style: solid;
    border-left-width:0.666667px;
    border-right-width:0.666667px; 
    border-top-width: 0.666667px;
    cursor: pointer;
    color: black;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
}
#burgers-right{
    background-color: rgb(255,118, 41);
    display: flex;
    width: 480px;
}
#burgers-right>#burgers-img{
    height: 395.542px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    padding: 40px 40px 40px 40px;
    position: relative;
    right: 200px;
    width: 400px;
    border-radius: 50px;
}
#favorite-app{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    justify-content: center;
    padding-top: 75px;
    row-gap: 20px;
}
#favorite-app>#heading{
    display: block;
    font-size: 21px;
    font-weight: 700;
}
#favorite-app-bar{
    column-gap: 60px;
    display: flex;
    font-size: 21px;
    font-weight: 700;
}
#favorite-app-bar>#left-img,#favorite-app-bar>#right-img{
    column-gap: 60px;
    display: flex;
    font-size: 21px;
    font-weight: 700;
}
#favorite-app-bar #left-img #img1, #favorite-app-bar #left-img #img2{
font-size: 21px;
font-weight: 700;
overflow-clip-margin: content-box;
overflow-x: clip;
overflow-y: clip;
width: 200px;
}
#favorite-app-bar #right-img #img1
{
    width: 80px;
    font-size: 21px;
    font-weight: 700;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
}
#favorite-app-bar #right-img #img2
{
    width: 122px;
    font-size: 21px;
    font-weight: 700;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
}
#browse-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 548.667px;
    justify-content: flex-start;
    padding: 150px 0px 100px;
    row-gap: 40px;
    width: 100%;
}
#browse-menu #heading{
    height: 32.667px;
    width: 209.208px;
    display: block;
    font-size: 25px;
    font-weight: 700;
}
#browse-menu #continer{
    height: 394px;
    width: 1066px;
    column-gap: 30px;
    display: flex;
}
#browse-menu #continer #left, #browse-menu #continer #right{
    display: flex;
    column-gap: 30px;

}

#browse-menu #continer #left #left-1,#browse-menu #continer #left #left-2, #browse-menu #continer #right #right-1, #browse-menu #continer #right #right-2{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 310px;
    padding: 40px 0px 40px;
    row-gap: 20px;
    width: 240px;
    border-color: #cecece;
    border-style: solid;
    border-radius: 15px;
}
#browse-menu #continer #left #left-1 #img,#browse-menu #continer #left #left-2 #img, #browse-menu #continer #right #right-1 #img, #browse-menu #continer #right #right-2 #img{
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
}
#browse-menu #continer #left #left-1 #heading,#browse-menu #continer #left #left-2 #heading, #browse-menu #continer #right #right-1 #heading, #browse-menu #continer #right #right-2 #heading{
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
#browse-menu #continer #left #left-1 #text,#browse-menu #continer #left #left-2 #text, #browse-menu #continer #right #right-1 #text, #browse-menu #continer #right #right-2 #text{
    color: #676767;
    display: block;
    font-size: 17px;
    font-weight: 500;
    width: 200px;
    padding: 0px 10px 30px;
}
#browse-menu #continer #left #left-1 #explore,#browse-menu #continer #left #left-2 #explore, #browse-menu #continer #right #right-1 #explore, #browse-menu #continer #right #right-2 #explore{
    color: rgb(255,118, 41);
    display: block;
    font-size: 17px;
    font-weight: 500;
}

#browse-menu #button-bar{
    display: flex;
    height: 42px;
    width: 318.656px;
    column-gap: 30px;
}
/* About us */
#about-us{
    display: flex;
    background-color: #FFF9F3;
    padding-top: 150px;
    padding-left: 150px;
    box-sizing: content-box;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}
#about-us #left{
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    width: 50%;
    box-sizing: content-box;
}
#about-us #left>img{
   border-radius: 30px;
    width: 460px;
}
#about-us #left #address{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    padding: 50px 20px 50px 50px;
    position: relative;
    border-radius: 25px;
    row-gap: 20px;
    font-weight: 500;
    top: 200px;
    right: 300px;
    box-sizing: border-box;
}
#about-us #left #address #heading{
    font-weight: 500;
    font-size: 20px;
    display: block;
}
#about-us #left #address #content-1{
    display: flex;
    column-gap: 20px;
    font-weight: 500;
    width: 350px;
}
#about-us #left #address #content-2,#about-us #left #address #content-3{
    display: flex;
    column-gap: 20px;
    font-weight: 500;
    width: 300px;
}
#about-us>#left>#address>#content-1>img,#about-us>#left>#address>#content-2>img,#about-us>#left>#address>#content-3>img{
    font-weight: 500;
    overflow: clip;
}
#about-us #left #address #content-1 #location{
    display: block;
    font-weight: 500;
    width:50%;
    color: #8d8d8d;

}
#about-us #left #address #content-2 #mobile, #about-us #left #address #content-3 #mail{
    display: block;
    font-weight: 500;
    color: #8d8d8d;

}
    



#about-us #right{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    padding-top: 100px;
    flex-direction: column;
    row-gap: 25px;
    width: 50%;
}
#about-us #right #heading{
    display: block;
    font-size: 32px;
    font-weight: 700;
    padding-left: 0px;
}
#about-us #right #text{
    display: block;
    font-weight: 500;
    color: #8d8d8d;
    font-size: 18px;
    width:80%
}
#about-us #right #button-bar{
    display: flex;
    column-gap: 30px;
}

/* About us end */

/* Browse our menu */
#browse-our-menu{
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
#browse-our-menu #heading{
    font-weight: 700;
    font-size: 32px;
    display: block;
}
#browse-our-menu #text{
    width: 50%;
    font-weight: 500;
    color: #727272;
    display: block;
    font-size: 18px;
}
#browse-our-menu #continer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#browse-our-menu #continer #menu{
    display: flex;
    column-gap: 25px;
}
#browse-our-menu #continer #menu #menu-left,#browse-our-menu #continer #menu #menu-right{
    display: flex;
    column-gap: 20px;
}
#browse-our-menu #continer #menu #menu-left #menu-item, #browse-our-menu #continer #menu #menu-right #menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
#browse-our-menu #continer #menu #menu-left #menu-item #price-box,#browse-our-menu #continer #menu #menu-right #menu-item #price-box{

    display: flex;
    background-color: #fffbfb;
    position: relative;
    border-radius: 15px;
    left: 60px;
    top: 60px;
    padding: 10px;
}
#browse-our-menu #continer #menu #menu-left #menu-item #price-box #price , #browse-our-menu #continer #menu #menu-right #menu-item #price-box #price
{
    font-size: 16px;
    font-weight: 700;
    display: block;
}
#browse-our-menu #continer #menu #menu-left #menu-item img , #browse-our-menu #continer #menu #menu-right #menu-item img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
}
#browse-our-menu #continer #menu #menu-left #menu-item #heading , #browse-our-menu #continer #menu #menu-right #menu-item #heading
{
    font-weight: 700;
    font-size: 24px;
    display: block;
}
#browse-our-menu #continer #menu #menu-left #menu-item #text , #browse-our-menu #continer #menu #menu-right #menu-item #text
{
    width: 250px;
    height: 50px;
    max-height: 100px;
    font-weight: 500;
    color: #686868;
    font-size: 16px;
    text-align: center;
    display: block;
}

#browse-our-menu #continer #button-bar{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding-bottom: 200px;
}
/* Browse our menu end */

/* Burger in los angeles */
.burger-losangeles{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.burger-losangeles .left{
    display: flex;
    flex-direction: column;
    background-color: #FF7629;
    align-items: flex-start;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 100px;
    row-gap: 33px;
    padding-left: 150px;
    box-sizing: border-box;
}

.burger-losangeles .left .heading{
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
    max-width: 80%;
    display: block;
}
.burger-losangeles .left .text{
    font-weight: 500;
    font-size: 18px;
    color: #fffafa;
    max-width: 80%;
    display: block;
}
.burger-losangeles .left .button-bar{
    display: flex;
    column-gap: 30px;

}


.burger-losangeles .right{
    display: flex;
}
.burger-losangeles .right img{
    width: 100%;
}


/* burger in los angles end */

/* Client page */
.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    row-gap: 20px;
}
.clients .one-box{
    display: flex;
}
.clients .heading{
    display: block;
    font-weight: 700;
    font-size: 32px;
}
.clients .text{
    display: block;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #727272;
}
.clients .continer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.clients .continer .left-arrow, .clients .continer .right-arrow{
display: flex;
}
.clients .continer .left-arrow img, .clients .continer .right-arrow img{
    width: 50px;
    height: 50px;
    background-color: #FF7629;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 50px;
}
.clients .continer .main-content{
    display: flex;
    padding: 50px 50px 40px 50px;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    row-gap: 10px;
    border-radius: 25px;
    border-style: solid;
    border-color: #d5d5d5;
}
.clients .continer .main-content .star-box{
display: flex;
flex-direction: row;
column-gap: 8px;
}
.clients .continer .main-content .star-box .star{
    display: flex;
    
}
.clients .continer .main-content .star-box .star img{
    width: 30px;
    height: 30px;
}
.clients .continer .main-content .heading{
    font-weight: 500;
    font-size: 24px;
    display: block;
}
.clients .continer .main-content .text{
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #716f6f;
    
}
.clients .continer .main-content .person-details{
    display: flex;
    padding-top: 10px;
    column-gap: 25px;
    align-items: center;
}
.clients .continer .main-content .person-details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.clients .continer .main-content .person-details .details{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.clients .continer .main-content .person-details .details .detail-1{
    font-weight: 500;
    display: block;
}
.clients .continer .main-content .person-details .details .detail-2{
    font-weight: 500;
    color: #595858;
    display: block;
}


.clients .button-bar{
    display: flex;
    column-gap: 30px;
}
/* Client page end */

/* Our articles */
.our-articles{
    display: flex;
    padding: 150px 100px 100px 100px;
    background-color: #FFF9F3;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.our-articles .topbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    box-sizing: content-box;
}
.our-articles .topbar .heading{
    font-weight: 700;
    font-size: 32px;
    display: block;
}
.our-articles .topbar .browse-box{
    display: flex;
    padding: 20px;
    border-radius: 35px;
    background-color: #ffffff;
}



.our-articles .continer{
    display: flex;
    column-gap: 30px;
}
.our-articles .continer .left{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: #fffefe;
    row-gap: 10px;
    border-radius: 35px;
}
.our-articles .continer .left img{
    width: 100%;
    border-radius: 35px;
    height: 70%;
}
.our-articles .continer .left .heading{
    display: block;
    font-weight: 700;
    font-size: 31px;
    padding-left: 20px;
    padding-right: 10px;

}
.our-articles .continer .left .date{
display: block;
font-weight: 500;
font-size: 20px;
color: #737373;
padding: 20px 10px 0px 20px;
}
.our-articles .continer .left .text{
display: block;
font-weight: 500;
    font-size: 20px;
    color: #8f8f8f;
    padding:0px 10px 30px 20px ;
}
.our-articles .continer .right{
    display: flex;
    width: 60%;
    flex-direction: column;
    row-gap: 30px;
}
.our-articles .continer .right .two-items{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.our-articles .continer .right .two-items .item{
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: #fffefe;
    row-gap: 10px;
    border-radius: 35px;
    padding-bottom: 20px;
}
.our-articles .continer .right .two-items .item img{
    width: 100%;
    border-radius: 35px;

}
.our-articles .continer .right .two-items .item .date{
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #737373;
    padding: 20px 10px 0px 20px;

}
.our-articles .continer .right .two-items .item .heading{
display: block;
font-weight: 700;
    font-size: 20px;
    padding: 0px 10px 0px 20px;
}
/* Our articles end */

/* Book Table  */
.book-table{
    display: flex;
}
.book-table .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
    padding: 100px 0px 100px 150px;
    width: 50%;
}
.book-table .left .heading{
display: block;
font-weight: 700;
    font-size: 36px;
    align-self: auto;
}
.book-table .left .text{
    display: block;
    width: 50%;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 18px;
    color: #727171;
}
.book-table .left .location-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    column-gap: 25px;
}
.book-table .left .location-box img{
    width: 30px;
    height: 30px;
}
.book-table .left .location-box .location{
display: block;
font-weight: 500;
color: #717070;
}
.book-table .left .mobile-box{
    display: flex;
    align-items: center;
    width: 50%;
    column-gap: 19px;
}
.book-table .left .mobile-box img{
    width: 30px;
    height: 30px;
}
.book-table .left .mobile-box .mobile{
    display: block;
    font-weight: 500;
    color: #717070;

}
.book-table .left .mail-box{
    display: flex;
    align-items: center;
    width: 50%;
    column-gap: 21px;
}
.book-table .left .mail-box img{
    width: 30px;
}
.book-table .left .mail-box .mail{
display: block;
font-weight: 500;
    color: #717070;
}


.book-table .right{
    display: flex;
    background-color: #FF7629;
    align-items: flex-start;
    padding: 100px 0px 100px;
    width: 50%;
}
.book-table .right .form-table{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    padding: 80px 50px 30px 50px;
    row-gap: 30px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    right: 140px;
    border-radius: 40px;
    border-style: solid;
    border-color: #d9d4d4;
}
.book-table .right .form-table .two-input{
    display: flex;
    column-gap: 20px;
}
.book-table .right .form-table .two-input .input-box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.book-table .right .form-table .two-input .input-box input{
    box-sizing: border-box;
    font-variant: tabular-nums;
    padding: 11px 15px 11px 15px;
    color: #000000d9;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid  #d9d9d9;
    border-radius: 20px;
}
.book-table .right .form-table .not-box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.book-table .right .form-table .not-box input{
    box-sizing: border-box;
    font-variant: tabular-nums;
    padding: 11px 15px 11px 15px;
    color: #000000d9;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid  #d9d9d9;
    border-radius: 20px;
    height: 180px;
    align-self: auto;
    text-align: center;
}
.book-table .right .form-table .button{
    color: #fff;
    background-color: #FF7629;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid white;
    width: 40%;
}
/* Book Table end */
/* Instagram */
.instagram{
    display: flex;
    background-color: #FFF9F3;
    padding: 150px 100px 150px  100px;
    align-items: center;
    flex-direction: column;
}
.instagram .title-bar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.instagram .title-bar .heading{
    font-weight: 700;
    font-size: 32px;
}
.instagram .title-bar .button-box{
    display: flex;
    padding: 15px 30px 15px 30px;
    border-radius: 35px;
    background-color: #FF7629;
}
.instagram .title-bar .button-box .button{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.instagram .continer{
    display: flex;
    column-gap: 30px;
}
.instagram .continer img{
    width: 300px;
    height: 300px;
    border-radius: 35px;
}
.instagram .continer .right-imgs, .footer .right  .right-imgs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.instagram .continer .right-imgs .two-imgs, .footer .right  .right-imgs .two-imgs{
    display: flex;
    column-gap: 20px;
}
.instagram .continer .right-imgs .two-imgs img, .footer .right  .right-imgs .two-imgs img{
    width: 145px;
    height: 145px;
    border-radius: 25px;
}

/* Instagram end */
/* Footer */
.footer{
    display: flex;
    padding:100px 150px 50px 150px ;
    column-gap: 40px;
    justify-content: space-between;
}
.footer .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 13px;
    width: 40%;
}
.footer .left .text{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #6a6868;
}
.footer .left .star-box{
    display: flex;
    column-gap: 10px;
}
.footer .left .star-box img{
    width: 30px;
    height: 30px;
}
.footer .mid{
display: flex;
}
.footer .mid .pages{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.footer .mid .utility{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 5px;
}
.footer .mid .pages .heading, .footer .mid .utility .heading{
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 22px;
}
.footer .mid .pages .text , .footer .mid .utility .text{
    font-size: 18px;
    font-weight: 500;
    color: #7f7c7c;
}
.footer .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.footer .right .heading{
    font-weight: 500;
    font-size: 22px;
}

/* Footer end */